PORT=10000
DATABASE_URL=postgresql://postgres.jqggyjkevglbziddhxrh:ZjkfrUj54ur@aws-0-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require
JWT_SECRET=;kldjf;kjdf;gksd;flkjg;sldkfjg;lsdkfjg;lkdf;mb;sdjv
SUPABASE_URL=https://jqggyjkevglbziddhxrh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpxZ2d5amtldmdsYnppZGRoeHJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NTA0NDgsImV4cCI6MjA5MDEyNjQ0OH0.yq0p8b-MxeJ0ppEkPw4_FvwtVBn5LAlWNF6_deWxvz4
SUPABASE_BUCKET=audio
FRONTEND_URL=http://localhost:5173
